* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: linear-gradient(to left, rgb(51, 167, 228), rgb(148, 54, 167));
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}